*{
    margin: 0 !important;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
	width: 100%;
	padding: 0;
	background-color: #a0a0a0;
}

.cards {
	background-color: #f4d189;
}

.cards .card:nth-child(1) {
		background-color: #fc5425;
}
.cards .card:nth-child(2) {
	background-color: #f4d189;
}
.cards .card:nth-child(3) {
	background-color: #a18fc1;
}



.menu li {
	cursor: pointer;
	text-align: center;
	list-style-type: none;
}



@media (max-width: 576px) {
	header {
		width: 100%;
		height: 100px;
		background-color: #a0a0a0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	header img {
		height: 90%;

	}

	nav	{
		width: 100%;
		background-color: #9f5baf;
	}
	.menu {
		width: 100%;
		padding: 0;
	}
	.menu li:hover {
		background-color: #763984;
	}
	.menu li {
		width: 100%;
		padding-top: 2%;
		padding-bottom: 2%;
	}
	.menu li a{
		text-align: center;
		text-decoration: none;
		color: white;
	}

	article {
		width: 100%;
		background-color: #ededed;
		height: 110px;
		padding-top: 5%;
		text-align: center;
	}

	.texto-sub {
		color: #763984;
		font-weight: bold;
	}

	.card {
		width: 100%;
		height: 90px;
	}

	

	footer {
		width: 100%;
		height: 80px;
		background-color: #a0a0a0;
		text-align: center;
		display: flex;
		align-items: center;
	}

	footer p {
		font-size: 14px;
	}

	footer p span {
		color: #763984;
	}

	.texto-aula, .text-card {
		display: none;
	}

	.card {
		display: flex;
		align-items: center;
	}

	.card img {
		height: 80%;
		float: left;
	}

	.title-card {
		margin-left: 10% !important;
		text-align: center;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	header {
		width: 100%;
		height: 150px;
		background-color: #a0a0a0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	header img {
		height: 90%;

	}
	nav	{
		height: 100%;
		background-color: #a0a0a0;
	}
	.menu {
		height: 100%;
		padding: 0;
		display: flex;
		justify-content: center;
		/*align-items: center;*/
	}

	.menu li {
		width: 15%;
		padding: 2%;
		display: inline-block;
	}
	
	.menu li a{
		text-align: center;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
	}
	.menu li a:hover{
		color: #f4d189;
	}

	article {
		background-color: #a0a0a0;
		font-size: 30px;
		padding: 2%;
		text-align: center;
	}

	article p {
		color: #f4d189;
	}

	.texto-sub {
		color: #f7d945;
		font-weight: bold;
	}

	.texto-aula {
		font-size: 20px;
		color: #616161;
		margin-top: 4% !important;
	}

	.cards {
		margin-top: 5% !important;
		margin-left: 4% !important;
		margin-right: 4% !important;
		width: 92%;
		height: 300px;

		/*display: flex;
		align-items: center;*/
	}

	.cards .card {
		height: 90%;
		margin-top: 2.5% !important;
	}

	.cards .card:nth-child(1) {
		background-color: #fc5425;
		float: left;
		width: 30%;
		margin-left: 2.5% !important;
	}
	.cards .card:nth-child(2) {
		background-color: #f4d189;
		width: 30%;
		float: left;
		margin-left: 2.5% !important;
	}
	.cards .card:nth-child(3) {
		background-color: #a18fc1;
		width: 30%;
		float: right;
		margin-right: 2.5% !important;
	}

	.card {
	}

	.card img {
		height: 25%;
	}

	.title-card {
		text-align: center;
		height: 45%;

	}

	.text-card {
		/*margin-top: 60% !important; */
		background-color: white;
		font-size: 10px;
		height: 30%;
	}


	footer {
		width: 100%;
		height: 80px;
		background-color: #a0a0a0;
		text-align: center;
		display: flex;
		align-items: center;
	}

	footer p {
		font-size: 14px;
	}

	footer p span {
		color: #763984;
	}
}

@media (min-width:768px)  {
	header {
		width: 100%;
		height: 150px;
		background-color: #a0a0a0;
		display: flex;
	}

	header img {
		height: 70%;
	}

	nav	{
		width: 80%;
		background-color: #a0a0a0;
		float: right;
	}
	.menu {
		padding: 0% !important;
	}

	.menu li {
		width: 15%;
		padding: 2%;
		display: inline-block;

	}
	
	.menu li a{
		text-align: center;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
	}
	.menu li a:hover{
		color: #f4d189;
	}

	article {
		margin-left: 15% !important;
		margin-right: 15% !important;
		width: 70%;
		background-color: #a0a0a0;
		font-size: 30px;
		padding: 2%;
		text-align: center;
	}

	article p {
		color: #f4d189;
	}

	.texto-sub {
		color: #f7d945;
		font-weight: bold;
	}

	.texto-aula {
		font-size: 20px;
		color: #616161;
		margin-top: 4% !important;
	}

	.cards {
		margin-top: 5% !important;
		margin-left: 4% !important;
		margin-right: 4% !important;
		width: 92%;
		height: 500px;

		/*display: flex;
		align-items: center;*/
	}

	.cards .card {
		height: 90%;
		margin-top: 2.5% !important;
	}

	.cards .card:nth-child(1) {
		background-color: #fc5425;
		float: left;
		width: 30%;
		margin-left: 2.5% !important;
	}
	.cards .card:nth-child(2) {
		background-color: #f4d189;
		width: 30%;
		float: left;
		margin-left: 2.5% !important;
	}
	.cards .card:nth-child(3) {
		background-color: #a18fc1;
		width: 30%;
		float: right;
		margin-right: 2.5% !important;
	}

	.card img {
		height: 25%;
	}

	.title-card {
		text-align: center;
		height: 25%;
		font-size: 20px;
		font-weight: bold;
		height: 45%;
	}

	.text-card {
		background-color: white;
		font-size: 14px;
		float: left;
		height: 30%;

	}

	footer {
		width: 100%;
		height: 80px;
		background-color: #a0a0a0;
		text-align: center;
		display: flex;
		align-items: center;
	}

	footer p {
		font-size: 14px;
	}

	footer p span {
		color: #763984;
	}
}

