iframe {
	width: 100%;
}

.footer {
	color: white;
	background: #353a40;
	padding-bottom: 1%;
	padding-top: 1%;	
}

.btn-pedido {
	margin-top: 5%;
}

.painel-pedido {
	margin-top: 2%;
	border: solid 1px black;
	width: 100%;
	height: 300px;
}


.none {
	display: none;
}