ul li {
	display: inline-block;
	border: solid 0.75px black;
	padding: 10px;
}

li a {
	text-decoration: none;
	color: black;
}

#home {
	width: 100%;
	padding-top: 65%;
	background-color: red;
	text-align: center;
}
#home a{
	color: black !important;
}
#sobre {
	width: 100%;
	padding-top: 65%;
	background-color: blue;
}
#localizacao {
	width: 100%;
	padding-top: 65%;
	background-color: yellowgreen;
	text-align: center;
}

body section {
	margin-top: 5px;
}