:root {               
	--cor: blue;
}

body {
	width: 1260px;
	margin-left: auto;
	margin-right: auto;
}

header {
	border: solid 1px black;
	width: 100%;
	height: 250px;
	background-color: green;
}

nav {
	border: solid 1px black;
	width: 100%;
	background-color: red;
	height: 100px;
	margin-top: 5px;
}

section {
	border: solid 1px black;
	width: 100%;
	height: 200px;
	background-color: yellow; 
	margin-top: 5px;
}

section article {
	border: solid 1px black;
	width: 55%;
	height: 90%;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
}

section aside {
	border: solid 1px black;
	width: 35%;
	height: 90%;
	margin-left: 811px;
	margin-top: 10px;
}

footer {
	margin-top: 5px;
	border: solid 1px black;
	width: 100%;
	height: 100px;
	background-color: var(--cor); 
}