@media (max-width: 700px) {
	ul li {
		display: inline-block;
		border: solid 0.75px black;
		padding: 10px;
	}

	li a {
		text-decoration: none;
		color: black;
	}

	#home {
		width: 100%;
		padding-top: 65%;
		background-color: red;
		text-align: center;
	}
	#home a{
		color: black !important;
	}
	#sobre {
		width: 100%;
		padding-top: 65%;
		background-color: blue;
	}
	#localizacao {
		width: 100%;
		padding-top: 65%;
		background-color: yellowgreen;
		text-align: center;
	}

	body section {
		margin-top: 5px;
	}	
}

@media (max-width: 1024px) and (min-width: 701px){
	#home {
		width: 100%;
		padding-top: 65%;
		background-color: rgb(15,47,46);
		text-align: center;
	}
}
@media (min-width: 1025px){
	#home {
		width: 100%;
		padding-top: 65%;
		background-color: rgb(37,77,21);
		text-align: center;
	}
}